<%= render @user_post %>

<div>
  <%= link_to "Edit this user post", edit_user_post_path(@user_post) %> |
  <%= link_to "Back to user posts", user_posts_path %>

  <%= button_to "Destroy this user post", @user_post, method: :delete %>
</div><br>
 
 <h4>Comments</h4>
<div class="container">
  <%= render "comments/form" , user_post: @user_post, comment: @user_post.comments.build , submit_label: "Reply"%>
  <% @comments.each do |comment|%>
    <%= render "comments/comment" , user_post: @user_post, comment: comment%>
  <% end %>
</div>
